/* estilos gerais da página */
html, body {
  min-height: 100%;
}

.recuo { text-indent:4em }

body {
  margin: 0 auto;
  max-width: 1200px;
  background-image: url("imagens/fundo.png");
  font-family: Arial;
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  margin-top: 25;
  font-family: "Time New Roman ", cursive;
  font-weight: normal;
  color: lime;
  font-size: 28px;
}


.borda{
border: 4px solid lime;
}
